# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Secret details for local dev
secret-application.properties
# Secret DB
database.sqlite

# Log files
*.log
*.log.gz
